body {
    color: white;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#center {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 16px;
    flex-grow: 1;
}

#error-panel {
    margin-top: 1rem;
    display: flex;
    padding: 16px;
    background-color: red;
    border-radius: 0.5rem;
    display: flex;
    
}
#error-message {
    flex-grow: 1;
}
#error-panel[hidden] {
    display: none;
}