#save {
    
    #document-information {
        display: contents;

        & > div {
            display: flex;
            padding-left: 1em;            
            padding-right: 1em;

            > span {
               width: 100px;
            }
        }

        span {
            white-space: nowrap;
        }

    }

    .output-dir {
        display: flex;
        .spacer {
            flex-grow: 1;
        }
        a {
            margin-left: 1em;
        }
    }

    a {
        color: royalblue;
    }

}