#save {
    
    #document-information {
        display: contents;

        & > div {
            display: flex;
            padding-left: 1em;            
            padding-right: 1em;

            > span {
               width: 100px;
            }
        }

        span {
            white-space: nowrap;
        }

    }

    .actions {
        display: flex;
    }
    sp-action-button  {
        flex-grow: 1;
    }

    .output-dir {
        display: flex;
        padding: 0.5rem;
    }

    a {
        color: royalblue;
    }

}