@import "./lumo.scss";

sp-action-button {
    margin: 4px;
    // border-radius: 7px;
    transition: 0.2s linear;
}

sp-button, sp-action-button {
    &[data-active=true], &[active] {
        background-color: #555;
    }
}