@import "./lumo.scss";

$tabbar-border-color: rgba(255, 255, 255, 0.5);
$tab-hover-color: rgba(255, 255, 255, 0.1);

#tabbar {
    display: flex;
    // border: 1px solid $tabbar-border-color;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    

    .tab {
        position: relative;
        padding: 6px;
        text-align: center;
        margin: 3px;
        
        &:hover {
            cursor: pointer;
            color: $lumo-primary-color-50pct;
        }
        &.selected, &:active {
            color: $lumo-primary-color;
            .tab_underline  {
                background-color: $lumo-primary-color;
            }
        }

        .tab_underline {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            // border-radius: 50%;
            background-color: $lumo-contrast-50pct;
            pointer-events: none;
            touch-action: none;
        }
        &:hover .tab_underline {
            background-color: $lumo-primary-color-50pct;
        }
    }

    .separator {
        width: 2px;
        height: 100%;
        background-color: $tabbar-border-color;
    }
}