#tools {
    position: relative;
    button, sp-action-button {
        display: flex;
        flex-grow: 1;
        margin: 5px;
    }
}

#frequency-separation {
    display: flex;
    > sp-action-button {
        flex-grow: 1;
    }
    > div {
        flex-grow: 1;
        display: flex;
        > sp-action-button {
            flex-grow: 1;
        }
    }
}

#dodge-and-burn {
    > div {
        display: flex;
        > * {
            flex-grow: 1;
        }
    }

    .white {
        background-color: white;
        color: black;
    }
    .gray {
        background-color: gray;
        color: white;
    }
    .black {
        background-color: black;
        color: white;
    }
}

#save-shortcuts {
    display: flex;
    > sp-action-button {
        flex-grow: 1;
    }
}

#tools-shortcuts {
    display: flex;
    justify-content: center;
    img[selected] {
        background-color: #f00;
    }
}

#tools-opacity, #tools-hardness {
    display: flex;
    flex-direction: column;
    .profiles {
        display:flex;
        justify-content: stretch;
    }
}