.flex {
    display: flex;

    &.stretch {
        & > * {
            flex-grow: 1;
        }
    }

    &.stack {
        flex-direction: column;
    }
}

.flex-stack {
    display: flex;
    flex-direction: column;

    & > * {
        flex-grow: 1;
    }
}