#save {
    
    #document-information {
        display: contents;

        & > div {
            padding-left: 1em;            
            padding-right: 1em;

            > span {
               width: 100px;
            }
        }

        span {
            white-space: nowrap;
        }

    }

    .output-dir {
        padding: 1rem 0.5rem ;
    }

    a {
        color: royalblue;
    }

}