@charset "UTF-8";
i, em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

blockquote {
  margin: 1em;
}

pre {
  white-space: pre;
}

code {
  font-family: Courier;
}

ul {
  margin-left: 1em;
}

li:before {
  content: "•";
  display: inline-block;
  text-align: center;
  margin-left: -1em;
  width: 1em;
}

title {
  display: none;
}

hr {
  background-color: #888;
}

span {
  font-size: 14px;
}

.form-label {
  margin-left: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#loadingScrim {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
#loadingScrim > span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

#app {
  padding: 4px;
  flex-grow: 1;
  overflow-y: auto;
}

react-target {
  display: contents;
}

body {
  color: white;
}

#loadingScrim {
  background-color: rgba(0, 0, 0, 0.8);
}

.MuiPaper-root {
  background-color: #333 !important;
  color: white !important;
}

.flex {
  display: flex;
}
.flex.stretch > * {
  flex-grow: 1;
}
.flex.stack {
  flex-direction: column;
}

.flex-stack {
  display: flex;
  flex-direction: column;
}
.flex-stack > * {
  flex-grow: 1;
}

.section,
.card {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 8px 4px;
  border: 4px solid #666666;
  border-radius: 7px;
}

sp-action-button {
  margin: 4px;
  transition: 0.2s linear;
}

sp-button[data-active=true], sp-button[active], sp-action-button[data-active=true], sp-action-button[active] {
  background-color: #555;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 1rem;
  background-color: #444;
}
.dialog .dialog-actions {
  display: flex;
  justify-content: flex-end;
}

dialog .actions {
  display: flex;
  justify-content: center;
}
dialog .actions sp-action-button {
  width: 100px;
}

.filter-buttons sp-action-button {
  width: 50%;
}

.sharpen-options {
  margin-left: 1rem;
}

.unsharp-mask-preset-buttons sp-action-button {
  text-align: center;
  height: 3rem;
}

#effects {
  display: flex;
  flex-direction: column;
}

.orthon-effect {
  padding: 0.25rem 0;
}
.orthon-effect .helper-text {
  margin: 0 0.5rem;
}

.copyright-text-container {
  padding: 5px;
  justify-content: stretch;
}
.copyright-text-container sp-textarea {
  flex: 1 1;
}

.document-information .row {
  padding-left: 1em;
  padding-right: 1em;
}
.document-information .row > span {
  width: 100px;
}
.document-information span {
  white-space: nowrap;
}
.document-information .actions sp-action-button {
  width: 50%;
}

#save .output-dir {
  padding: 1rem 0.5rem;
}
#save a {
  color: royalblue;
}

#versionInfo {
  margin-left: 0.5rem;
}
